*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #383961;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25pt;
}

.container{ 
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin; 
}

.box{
    height: 18vmin;
    width:  18vmin;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1); 
    font-size: 60pt;
    color: #F26CA7;
}

.game_operations{
    padding: 1rem;
    font-size: 1,25rem;
    background-color: #191913;
    color: white;
    border-radius: 25px;
    border: none;
}

#msg{
    color: #8CFFDA;
    font-size: 25pt;
}

.msg-container {
  display: flex;        /* or block */
  justify-content: center;
  align-items: center;
  /* etc… */
}

.hide {
  display: none;
}
